.contenedor {
    display: flex;
    flex-direction: row-reverse;
    width: 900px;
    height: 900px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-left: 500px;
}

.rojo {
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 20px;
    line-height: 300px;
}

.verde {
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: green;
    color: white;
    font-size: 20px;
    line-height: 300px;
}

.azul {
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 20px;
    line-height: 300px;
}